.profile {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 8px;

    width: 399px;

    background-color: #fff;

    text-align: center;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.2);

    overflow: hidden;
    

}
.avatar {
    margin-top: 80px;
    border-radius: 50%;
    width: 200px;
}
.name {
    font-size: 40px;
    font-weight: 700;
}
.tag, .location {
    margin-top: 16px;
    color: grey;
    font-size: 20px;
}

.stats {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    background-color:aliceblue;
    list-style: none;
}
.item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    border: 1px solid grey;
    padding: 20px 0;

    width: calc(100%/3);
    background-color: rgb(233, 238, 244);
}
.item:first-child {
    border-bottom-left-radius: 8px;
}
.item:last-child {
    border-bottom-right-radius: 8px;
}

.label {
    font-size: 16px;
}
.quantity {
    font-size: 20px;
    font-weight: 700;
}