.transactionTable {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.transactionHeadItem {
    color: white;
    background-color: rgb(46, 199, 255);
    font-size: 26px;
    padding: 20px 0;
}

.transactionBodyItem {
    padding: 10px 0;

    text-align: center;

    font-size: 18px;
}

.TransactionBodyRow:nth-child(2n) {
    background-color: silver;
}